/* Font-imports */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Waterfall&display=swap');

/* reset to 10px - now i can use 1rem = 10px */
html {
    font-size: 62.5%;
}

/* Default settings */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Playfair Display', sans-serif;
    min-height: 100vh;
}

/* Start of header styles */
.header {
    width: 100%;
    min-height: 10vh;
    max-height: 16vh;
}
.logo {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    text-align: center;
}
.active {
    border-bottom: 0.1rem solid black;
}
.nav-list {
    list-style: none;
    text-align: center;
}

.nav-list-link {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
}

.nav-list-item {
    margin: 0.7rem;
}

/* End of header styles */
/* Main structure for all pages */
main {
    width: 100%;
    min-height: 80vh;
    position: relative;
    margin-top: 9rem;
}

/* Start of main styles for first page */
.first-page {
    background: url(../images/backgrounds/background-main_2000-013.webp) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.im-matilda {
    font-size: 6rem;
    margin-top: 50%;
    text-align: center;
}

.to-about-box {
    border: 1px solid black;
    text-align: center;
    width: 25rem;
    margin: 0 auto;
}

.to-about-box:hover {
    color: white;
    background-color: #2c2c2c;
}

.main-link {
    text-decoration: none;
    font-size: 3rem;
    color: inherit;
    margin-left: 1rem;
    font-weight: bold;
}

/* End of main styles for first page */

/* Start of main styles for about page */
.about-page {
    background: url(../images//backgrounds/background-paintplate_2000-010.webp) no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    width: 85%;
    height: auto;
    background-color: rgba(243, 243, 243, 0.8);
    text-align: center;
    padding: 1.5rem;
    margin: 2rem 0;
}
.about-container > div {
    padding: 1.5rem;
}
.about-header {
    margin: 1rem 0;
    font-size: 3rem;
}

.about-text {
    margin: 1.5rem 0;
}
.painter-image {
    display: none;
}
.matilda-picture {
    width: 100%;
    max-width: 45rem;
    max-height: 65rem;
    border-radius: 0.5rem;

}
/* Change style of this! Other colors... */
.gallery-link {
    font-size: 110%;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 0.7rem;
    border: 1px solid #2c2c2c;
    border-radius: 0.3rem;
    margin: 1rem;
}

.gallery-link:hover {
    color: white;
    background-color: #2c2c2c;
}

/* End of main styles for about page */

/* Start of styles for main gallery page */
.gallery-page {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.illustration-category {
    background: url(../images/chanelliten.png) no-repeat center center;
    background-size: cover;
    width: 100%;
}

.acrylics-category {
    background: url(../images/rosakvinnaochleo.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
}

.gallery-categories {
    width: 22rem;
    height: 22rem;
}
/* End of styles for main gallery page */

/* Start of styles for illustration & acrylics page */
.illustrations {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.illustrations > img {
    width: 85%;
}
/* Start of footer styles */
.footer {
    text-align: center;
    max-height: 10vh;
    margin-bottom: 1rem;
}

.footer-icon {
    text-decoration: none;
    font-size: 200%;
    color: darkslategrey;
    margin: 10%;
}

/* End of footer styles */
/* Media for small screens */
@media screen and (min-width: 348px) {
    .logo {
        font-size: 4rem;
    }
}

/* Media for medium to large screens */
@media screen and (min-width: 750px) {
    main {
        margin-top: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        align-items: center;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 2rem;
    }

    .nav-list-item {
        margin: 0;
    }

    .im-matilda {
        margin-top: 25%;
    }
    .about-container {
        font-size: larger;
    }
    .about-container > div {
        padding: 1rem 6rem;
    }
    .gallery-page {
        flex-direction: row;
    }

    .gallery-categories {
        width: 30rem;
        height: 30rem;
    }
    .illustrations > img {
        width: 47%;
    }
}

/* Responsive for large to extra large screens */
@media screen and (min-width: 1200px) {
    .gallery-categories {
        width: 40rem;
        height: 40rem;
    }
    .painter-image {
        display: block;
    }
    /* Grid layout setup for about page on large screens */
    .about-container {
        display: grid;
        grid-template-areas: 'about img'
        'about img'
        'styles img'
        'styles order'
        'styles .';
        gap: 2rem;
    }
    .about-me {grid-area: about;}
    .painter-image {grid-area: img;}
    .paint-styles {grid-area: styles;}
    .custom-order {grid-area: order;}

    .custom-order {
        width: 80%;
        margin: 0 auto;
    }
    .illustrations > img {
        width: 24%;
    }
}